# fly.toml app configuration file generated for uah-archivo-10-12 on 2025-12-10

app = 'uah-archivo-10-12'
primary_region = 'scl'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '5000'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  
  [http_service.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[checks]]
  port = 5000
  type = "http"
  interval = "10s"
  timeout = "2s"
  grace_period = "30s"
  method = "get"
  path = "/"
  protocol = "http"
